.feature {
    padding-top: 18rem;
    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 15rem;
        &:nth-child(odd) {
            .feature__info {
                // margin-top: 17rem;
                padding-left:10rem;
            }
        }
        &:nth-child(even) {
            flex-direction:row-reverse;
            .feature__info {
                padding-right: 10rem;
            }
        }
    }
    &__img, &__info {
        width: 50%;
    }
 
    &__title {
        font-size: 4rem;
        font-weight: 600;
        margin-bottom: 2.5rem;
    }

    &__desc {
        font-weight: 300;
        font-size: 1.4rem;
        margin-bottom: 4rem;
        line-height: 1.8;
    }

    &-intro {
        &__item {
            font-weight: 600;
            text-decoration: underline;
            margin-bottom: 3rem;
            font-size: 1.7rem;
            padding-left: 3rem;
            &-circle {
                text-decoration: none;
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width:2rem;
                    height: 2rem;
                    background-color:#ff6ade;
                    border-radius: 50%;
                    transform: translate(0,-50%)
                }
                &:nth-child(2):before {
                    background-color:#91fa3d;
                    
                }
                &:nth-child(3):before {
                    background-color:#1ebff3;
                }
                &:last-child:before {
                    background-color:#fe899c;
                }
            }
        }
    }

    &__gird {
        // margin-top: 50rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        &--title {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        &--list {
            width: calc(50% - 3rem);
            img {
                border-radius: 1rem;
            }
        }


    }
}