@use '../utilities/mixins' as mixin;

.partner {
    margin-bottom: 19rem;
    &__container {
        max-width: 83rem;
        text-align: center;
    }
    &__title {
        font-size: 3rem; 
        margin-bottom: 7rem;
        padding-bottom: 7rem;
        border-bottom: 2.5px solid currentColor ;
    }
    &__list {
        @include mixin.flex(center,space-between)
    }
}